*, *::before, *::after {
    box-sizing: border-box;

}

:root {
    --coloring-nuetral: 200;
    --coloring-wrong: 0;
    --coloring-correct: 150;
}

body {
    --coloring: var(--coloring-nuetral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 750px;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--coloring), 100%, 20%);
}

body.correct {
    --coloring: var(--coloring-correct);
}
body.wrong {
    --coloring: var(--coloring-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --coloring: var(--coloring-nuetral);
    background-color: hsl(var(--coloring), 100%, 50%);
    border: 1px solid hsl(var(--coloring), 100%, 30%)
}