*, *::before, *::after {
    box-sizing: border-box;

}

:root {
    --coloring-nuetral: 200;
    --coloring-wrong: 0;
    --coloring-correct: 150;
}

body {
    --coloring: var(--coloring-nuetral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 753px;
    height: 605px;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--coloring), 100%, 20%);
}

body.correct {
    --coloring: var(--coloring-correct);
}
body.wrong {
    --coloring: var(--coloring-wrong);
}

.player-con {
    position: absolute;
    bottom: 90%;
    left: 110%;
    width: 150px;
    max-width: 75%;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0 0 9px 3px;
    font-weight: bold;
}

.container {
    position: absolute;
    width: 650px;
    height: 500px;
    max-width: 75%;
    left: 27%;
    background-color: white;
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0 0 9px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-con {
    position: absolute;
    z-index: 2;
    bottom: 78%;
    left: 28.5%;
    width: 600px;
    max-width: 75%;
    background-color: hsl(var(--coloring), 100%, 20%);
    border-radius: 6px;
    padding: 30px;
    box-shadow: 0 0 9px 3px;
    font-weight: bold;
    font-size: larger;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 23px 0px;
}

.btn {
    --coloring: var(--coloring-nuetral);
    background-color: hsl(var(--coloring), 100%, 50%);
    border: 1px solid hsl(var(--coloring), 100%, 30%);
    color: white;
    border-radius: 6px;
    padding: 6px 11px;
    outline: none;
}

.startTrivia-btn, .nextQuestion-btn {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 19px 29px;
    position: absolute;
    left: 42%;
    bottom: 15%;
}


.btn:hover {
    border-color: black;
}

.btn.correct {
    --coloring: var(--coloring-correct);
    color: black;
}

.btn.wrong {
    --coloring: var(--coloring-wrong);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}